<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ item }}</title>
    </head>
    <body>
        <h1>Per Unit Price Change in {{ item }}: {{ data_request }} {% if project %} (projected) {% endif %} </h1>
            <img src="{{ url_for('fig', data_request=data_request, item=item, project=project) }}" alt="Cases in {{ item }}">
        <form action="/submit_projection" method="POST">
            <p>Select which year you'd like to project to:
                <input type="text" name="year" placeholder="yyyy">
                <input type="submit" value="Submit"></p>
        </form>

    </body>
</html>